.u-section-1 .u-sheet-1 {
  min-height: 1168px;
}

.u-section-1 .u-shape-1 {
  height: 42px;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -31px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 10px;
  margin-bottom: 28px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -86px;
  }

  .u-section-1 .u-table-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 172px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -186px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1520px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 387px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2796px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1663px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1677px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-shape-1 {
  height: 42px;
  margin-bottom: 0;
  margin-top: 37px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-align: center;
  margin: -31px auto 0;
}

.u-section-2 .u-table-1 {
  margin-top: 8px;
  margin-bottom: 37px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1068px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1884px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1314px;
}

.u-section-3 .u-shape-1 {
  height: 42px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-align: center;
  margin: -31px auto 0;
}

.u-section-3 .u-table-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    margin-top: 8px;
  }

  .u-section-3 .u-table-1 {
    margin-top: 35px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 976px;
}

.u-section-4 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-fd7e-4 {
  background-image: none;
}.u-section-5 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-5 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-8327-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-table-1 {
    height: 976px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-6 .u-table-1 {
  height: 976px;
  margin: 0 auto 30px 20px;
}

.u-block-4c78-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 663px;
}

.u-section-7 .u-table-1 {
  margin: 1px 0;
}

.u-block-49e6-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-table-1 {
    height: 976px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1140px;
}

.u-section-8 .u-shape-1 {
  height: 42px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-align: center;
  margin: -32px auto 0;
}

.u-section-8 .u-table-1 {
  height: 976px;
  margin-top: 11px;
  margin-bottom: 60px;
}

.u-section-8 .u-table-header-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-top: -11px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-9 .u-table-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.u-block-693f-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-9 .u-table-1 {
    height: 976px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1031px;
}

.u-section-10 .u-table-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-block-e568-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-10 .u-table-1 {
    height: 976px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-11 .u-table-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-block-e344-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-11 .u-table-1 {
    height: 976px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 652px;
}

.u-section-12 .u-table-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-block-fddc-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-12 .u-table-1 {
    height: 976px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-13 .u-shape-1 {
  height: 42px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  text-align: center;
  margin: -32px auto 0;
}

.u-section-13 .u-table-1 {
  margin-top: 11px;
  margin-bottom: 1px;
}

.u-section-13 .u-table-header-1 {
  background-image: none;
}

.u-section-13 .u-table-cell-42 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-top: -11px;
  }

  .u-section-13 .u-table-1 {
    height: 976px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-14 .u-table-1 {
  margin-top: 1px;
  margin-bottom: 3px;
}

.u-block-52df-9 {
  background-image: none;
}

.u-section-14 .u-table-cell-3 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-14 .u-table-1 {
    height: 976px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-15 .u-table-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-block-e24c-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-15 .u-table-1 {
    height: 976px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-16 .u-table-1 {
  margin-top: 1px;
  margin-bottom: 4px;
}

.u-block-c77e-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-16 .u-table-1 {
    height: 976px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 1303px;
}

.u-section-17 .u-table-1 {
  margin-top: 1px;
  margin-bottom: 48px;
}

.u-block-3fd7-9 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-17 .u-table-1 {
    height: 976px;
  }
}